.wrapper {
  border-bottom: var(--border-simple);
  padding: var(--spacing-10) 0;
}

.group {
  padding: var(--spacing-10);
  display: flex;
}

.field {
  flex: 1;
  padding: var(--spacing-5);
  border-radius: var(--spacing-5);
  border: var(--border-simple);
}
