.aside {
  grid-area: right-sidebar;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-color);
  padding: var(--padding);
  padding-top: 0;
}

@media screen and (max-width: 93.75rem) {
  .aside {
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
}
