.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar"
    "footer footer footer";
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100px auto 100px;
  width: 100%;
  min-height: 100%;
}
