.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar";
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 100px auto;
  width: 100%;
  min-height: 100%;
  gap: 0 50px;
}
