.grid {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header header"
    "left-sidebar main right-sidebar";
  min-height: 100%;
  width: 100%;
}
