.grid {
  display: grid;
  min-height: 100%;
  gap: var(--padding);
  grid-template-areas:
    "header header"
    "left-sidebar main";
  grid-template-columns: 20% auto;
  grid-template-rows: 100px auto;
}

@media screen and (max-width: 93.75rem) {
  .grid {
    grid-template-areas:
      "header header header"
      "left-sidebar main main";
    grid-template-columns: 25% 1fr;
  }
}

@media screen and (max-width: 43.75rem) {
  .grid {
    grid-template-areas: "header header header" "main main main";
  }
}
