.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
}

.loader {
  flex: 1;
  background-color: var(--overlay);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--black);
  width: var(--icon-size);
  height: var(--icon-size);
}
