.wrapper {
  width: 100%;
}

.container {
  padding: 0 var(--spacing-10);
  display: grid;
  grid-template-columns: var(--avatar-size) 1fr;
  gap: 0 var(--spacing-10);
}

.avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: var(--circle);
}

.details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-5);
  overflow: hidden;
}

.name {
  font-weight: var(--font-weight-medium);
}

.text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
