:root {
  --font-stack: "Google Sans", "Arial", "Helvetica", sans-serif;
  --font-size-small: 0.85rem;
  --font-size-standard: 1rem;
  --font-size-medium: 1.5rem;
  --font-size-large: 2rem;
  --font-weight-bold: 800;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --background-color: hsl(200deg 10% 95%);
  --text-color: hsl(200deg 15% 10%);
  --link-color: hsl(200deg 35% 10%);
  --dark-gray: hsl(200deg 10% 60%);
  --gray: hsl(200deg 10% 80%);
  --white: hsl(200deg 15% 99%);
  --theme-color: hsl(200deg 100% 40%);
  --overlay: hsl(200deg 95% 5% / 0.5);
  --black: hsl(200deg 95% 5%);
  --padding: 10px;
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-20: 20px;
  --spacing-30: 30px;
  --spacing-50: 50px;
  --border-radius: 20px;
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --border-radius-top: var(--border-radius) var(--border-radius) 0 0;
  --border-radius-bottom: 0 0 var(--border-radius) var(--border-radius);
  --border: 1px solid var(--gray);
  --avatar-size: 48px;
  --avatar-size-small: 24px;
  --avatar-size-large: 72px;
  --icon-size: 20px;
  --circle: 50%;
  --padding-large: 20px;
  --padding-button: var(--padding) var(--padding-large);
  --shadow-small: 1px 2px 2px hsl(200deg 10% 10% / 0.15);
}

body {
  font-family: var(--font-stack);
  font-size: var(--font-size-standard);
  background-color: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding: var(--padding);
}

html,
body,
#root,
#new-thread,
#search {
  height: 100%;
}

#new-thread,
#search {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  visibility: hidden;
}
