:root {
  --font-stack: "Google Sans", "Arial", "Helvetica", sans-serif;
  --font-size-standard: 1rem;
  --background-color: hsl(200deg 10% 95%);
  --text-color: hsl(200deg 95% 10%);
}

body {
  font-family: var(--font-stack);
  font-size: var(--font-size-standard);
  background-color: var(--background-color);
  color: var(--text-color);
}
